* {
    padding:0;
    margin:0;
}

.navbar-brand {
    border-radius:5px;
    border-color:black;
    background-color:#38A1F3;
    position:absolute;
    left:50px;
    text-decoration: none;
    
}

.weather {
    color:white;
    text-decoration: none;
    font-family: serif, Helvetica, Arial;
    font-weight:bold
}

.header {
    color: grey;
    font-family: serif, Helvetica, Arial;
    font-weight:bold;
}


.border {
    background-color: white;
    box-shadow: 5px 5px 10px lightsteelblue;
    
}

.container {
    box-shadow: 5px 5px 10px lightsteelblue;
} 
.table {
    margin-top:25px;
    border-style:solid;
}

.data_text {
    margin-left:5px;
    margin-top:75px;
}

