* {
    padding:0;
    margin:0;
}

.navbar {
    background-color:white;
}

.navbar-brand {
    border-radius:5px;
    background-color:#38A1F3;
    position:absolute;
    left:50px;
    text-decoration: none;
    padding:7px
}

.weather {
    color:white;
    text-decoration: none;
    font-family: serif, Helvetica, Arial;
    font-weight:bold
}

.header {
    color:#38A1F3;
    padding:20px;
    padding-left:5px;
    font-family: serif, Helvetica, Arial;
    font-weight:bold;

}

.row {
    margin-top: 100px;
    margin-right:0px;
    margin-left:0px
}



body {
    background-color:#E8E8E8;
}

.border {
    background-color: white;
    box-shadow: 5px 5px 25px #38A1F3;
    
}

.img-fluid {
    max-width:100%;
    height:auto;
}

.container-fluid {
    padding-left:50px;
    padding-right:50px;
    
}
.container {
    background-color: white;
    margin-top: 100px;
    box-shadow: 5px 5px 25px #38A1F3;
}
.table {
    margin-top:25px;
    border-style:solid;
}

.data_text {
    margin-left:5px;
    margin-top:75px;
}

